<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Nasa Wikipedia</title>
    <link rel="stylesheet" type="text/css"
          href="https://en.wikipedia.org/w/load.php?debug=false&lang=en&modules=ext.cite.styles%7Cext.tmh.thumbnail.styles%7Cext.uls.interlanguage%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediaBadges%7Cmediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.page.gallery.styles%7Cmediawiki.sectionAnchor%7Cmediawiki.skinning.interface%7Cskins.vector.styles%7Cwikibase.client.init&only=styles&skin=vector">
  </head>
  <body>
    <!--suppress HtmlUnknownTarget -->
    <a href="/nasa" style="font-size: 50px">Click Here for Today's Nasa Image</a>
    {{ data }}
  </body>
</html>