<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        .center {
            display: table;
            margin-right: auto;
            margin-left: auto;
        }
    </style>
</head>
<body class="center">
{{ br(8) }}
<h1>Welcome {{ username }} (your username)!</h1>
<h1>Your password is {{ password }}!</h1>
<h2>You used the HTTP {{ method|upper }} method!</h2>
{{ br(2) }}
<!--suppress HtmlUnknownTarget -->
<form action="/login" class="center">
    <input type="submit" value="Back">
</form>
</body>
</html>