<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Listen Up{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  </head>
  <body class="center">
    <nav class="navbar fixed-top navbar-light bg-faded">
      <!--suppress HtmlUnknownTarget -->
      <a class="navbar-brand" href="/welcome">
        <i class="em em-fire"></i>
        Listen Up
        <i class="em em-fire"></i>
      </a>
      <!--suppress HtmlUnknownTarget -->
      {% if is_logged_in() %}
        <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
      {% endif %}
    </nav>
    {% block body %}

    {% endblock body %}
  </body>
</html>