{% extends "base.html" %}

{% block title %}
  - Signup
{% endblock %}

{% block body %}
  <!--suppress HtmlUnknownTarget -->
  <form action="/signup" method="post" id="signup">

    {% include "flash.html" %}

    {{ br(1) }}
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
    {{ br(1) }}
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    {{ br(1) }}
    <div class="form-group">
      <label for="password2">Confirm Password:</label>
      <input type="password" class="form-control" id="password2" name="password2" required>
    </div>
    {{ br(1) }}

    <input type="submit" class="btn btn-primary" value="Sign Up" disabled id="submit-signup">
    {{ br(1) }}
    Have an Account? <!--suppress HtmlUnknownTarget -->
    <a href="/login"> Login </a>
  </form>

  <script>

      const checkPasswordsMatch = function() {
          const password = $('#password').val();
          const password2 = $('#password2').val();
          const match = password === password2;
          $('#submit-signup').attr('disabled', !match);
      };

      $(document).ready(function() {
          $("#password, #password2").keyup(checkPasswordsMatch);
      });

  </script>

{% endblock body %}