{% extends "logged_in_base.jinja2" %}

{% block title %}New Story - Story Time{% endblock title %}

{% block body %}

    {% include "flashes.jinja2" %}

    <h1>Create a new story here:</h1>{{ br(4) }}

    <!--suppress HtmlUnknownTarget -->
    <form action="/new_story" method="post">
        Title: <input type="text" name="storyname" required> {{ br(2) }}
        Begin the story with its first edit: <input type="text" name="text" required> {{ br(2) }}
        <input type="submit" value="Submit">
    </form>

{% endblock body %}