{% extends "logged_in_base.jinja2" %}

{% block title %}Edit - Story Time{% endblock title %}

{% block body %}

    <h1>Editing {{ last_edit.story.storyname }}:</h1>
    <h2>Latest edit:</h2><br>
    {{ last_edit.text }}

    {{ br(4) }}
    <!--suppress HtmlUnknownTarget -->
    <form action="/edit" method="post" id="storyedit">
        <textarea name="text" placeholder="Insert addition to story here" form="storyedit"
                  required></textarea>{{ br(2) }}
        <input type="submit">
    </form>
{% endblock %}