{% extends "base.jinja2" %}

{% block title %}Login - Story Time{% endblock title %}

{% block body %}

    {% include "flashes.jinja2" %}

    Login here:{{ br(2) }}
    <!--suppress HtmlUnknownTarget -->
    <form action="/auth" method="post">
        Username: <input type="text" name="username" required>{{ br(2) }}
        Password: <input type="password" name="password" required>{{ br(2) }}
        <input type="submit" value="Submit">{{ br(5) }}
    </form>

    Don't have an account? Sign up here:{{ br(2) }}
    <!--suppress HtmlUnknownTarget -->
    <form action="/signup" method="post">
        Username: <input type="text" name="username" required>{{ br(2) }}
        Password: <input type="password" name="password" required>{{ br(2) }}
        <input type="submit">
    </form>
{% endblock body %}
