{% extends "base.jinja2" %}

{% block title %}Story Time{% endblock title %}

{% block body %}

    {% if is_loggin_in %}
        {% include "logout.jinja2" %}
    {% endif %}

    <h1>Welcome to Story Time!</h1><br>
    <h2>Create your own stories, or add on to others'</h2>{{ br(2) }}
    The main concept of the website is simple: make a story or add on to other stories.{{ br(2) }}
    Here are the simple steps to using this website:<br>
    1. Log in or create an account <!--suppress HtmlUnknownTarget -->
    <a href="/login" target="_blank" style="font-size: 64px">here</a>.<br>
    2. You may choose to either view a story that you have or haven't yet edited, or you may choose
    to create a new story.<br>
    3. a) If you choose to view a story, you will either view a story that you haven't edited yet,
    in which case you will only see the latest edit, or you will view a story that you have edited,
    in which case you will see the entire story.<br>
    &nbsp&nbsp&nbsp b) If you choose to create a story, you will be prompted to add a title and the
    first and latest edit for said story.<br>

{% endblock body %}