<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>Welcome {{ username }} (your username)!</h1>
<h1>Your password is {{ password }}!</h1>
<h2>You used the HTTP {{ method|upper }} method!</h2>
</body>
</html>